.availableSeat
{
  background-color: green;
  color: white;
}

.underReserve
{
  background-color: orange;
  color: white;
}

.reserved
{
  background-color: red;
  color: white;
  border: 2px solid rgb(255, 150, 150);
}